@property --light {
  inherits: true;
  syntax: "<color>";
  initial-value: #f3f4f6;
}
@property --dark {
  inherits: true;
  syntax: "<color>";
  initial-value: #191919;
}

:root {
  color-scheme: light dark;

  --color-text: light-dark(var(--dark), var(--light));
  --color-bg: light-dark(var(--light), var(--dark));

  transition-property: var(--color-bg) var(--color-text);
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;

  color: var(--color-text);
  background: var(--color-bg);
}
